.feedback-list-container{
    border:5px solid green;
    display:flex;
    flex-direction: row;
    height:88vh;    
}
.completed-user-list{
    border:5px solid black;
    display:flex;
    flex-direction: column; 
    width:30%;
    height:100%;
}
.answers-container{
    border:5px solid blue;
    width:70%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-content: space-around;
}

.answer-wrapper{
    border:2px solid rgb(0, 204, 255);
    width:100%;
    height:100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:5px;
    display:flex;
   }



.answer-left{
    width:70%;
    height:100%;
    border:2px solid red;
}

.answer-right{
    border:5px solid purple;
    
    width:35%
}
