.feedback-list-container{
    border:1px solid lightgrey;
    
    display:flex;
    flex-direction: row;
    height:88vh;
    width:85%; 
    margin:0 auto;   
    
}
.completed-user-list{
    
    display:flex;
    flex-direction: column; 
    width:30%;
    height:100%;
}
.answers-container{
 
    width:70%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-content: space-around;
}

.answer-wrapper{
    border:1px solid lightgrey;
    border-top:none;
    width:100%;
    height:100%;
    padding:5px;
    display:flex;
    align-items: center;
   }



.answer-left{
    width:55%;
    height:100%;
    border-right:5px solid purple;
    align-items:center;
}

.answer-right{
    
    width: 45%;
}
.user-btn{
    display:flex;
    align-items:center;
    width:100%;
    background-color:rgba(228, 228, 228, 0.767);
    .avatar-btn{
        border-radius:50%;
        width: 75px;
        margin-left:15px;
    }
    .fullName-btn{
    margin:20px;
    width:100%; 
    font-weight: 700;    
    }
}
