.user-list {
  border: 2px solid black;
}

.userCard {
  border: 3px solid red;
  padding: 5px;
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75%;
  margin: 5px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userCard .card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userCard .card-right {
  margin-right: 20px;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.question-label {
  height: 35px;
  margin: 0 auto;
  padding: 20px;
  width: 75%;
}

.question-div {
  border: 20px solid red;
}

.feedback-container {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background: #beecf7;
  background: -webkit-gradient(linear, left top, right top, from(#beecf7), color-stop(48%, #9ddbfa), to(#8fa1ff));
  background: linear-gradient(90deg, #beecf7 0%, #9ddbfa 48%, #8fa1ff 100%);
}

.choice-div input {
  display: none;
}

.choice-div input:checked + label {
  background: transparent;
}

.choice-div label {
  border: 3px solid black;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
  color: #000;
}

.choice-div label:hover {
  background: transparent;
}

.text-box {
  width: 100%;
  height: 100%;
}

.nav-tools {
  border: 5px solid blue;
  margin: 0 auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.nav-tools button {
  padding: 5px;
}

.text-div .textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  max-width: 75%;
}
/*# sourceMappingURL=users.css.map */